.create-action-btn {
  padding: 10px 0px;
  width: 150px;
  color: #000;
  border-radius: 5px;
  border-width: 1px;
  box-shadow: -1px 7px 17px -6px rgb(48 48 48 / 87%);
  transition: all 3s ease;
  font-weight: 500;
  cursor: pointer;
}

.create-action-btn:hover {
  opacity: 0.8;
}
